Source: moonfire-nvr
Maintainer: Scott Lamb <slamb@slamb.org>
Section: video
Priority: optional
Standards-Version: 3.9.6.1
Build-Depends: cmake,
               libavcodec-dev,
               libavformat-dev,
               libavutil-dev,
               libgflags-dev,
               libgoogle-glog-dev,
               libgoogle-perftools-dev,
               libjsoncpp-dev,
               libre2-dev,
               libsqlite3-dev,
               pkgconf,
               uuid-dev
Package: moonfire-nvr
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser, sqlite3, uuid-runtime
Description: security camera network video recorder
 moonfire-nvr records video files from IP security cameras.
