[Unit]
Description=Moonfire NVR
After=network-online.target

[Service]
ExecStart=/usr/bin/moonfire-nvr
Type=simple
User=moonfire-nvr
Nice=-20
Restart=on-abnormal
CPUAccounting=true
MemoryAccounting=true
BlockIOAccounting=true

[Install]
WantedBy=multi-user.target
