name: CI
on: [push, pull_request]

defaults:
  run:
    shell: bash

env:
  CARGO_TERM_COLOR: always
  MOONFIRE_COLOR: always
  RUST_BACKTRACE: 1

jobs:
  rust:
    name: Rust ${{ matrix.rust }}
    strategy:
      matrix:
        rust: ["stable", "1.91", "nightly"]
        include:
          - rust: nightly
            extra_args: "--features nightly --benches"
          - rust: stable
            extra_components: rustfmt
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          # `git describe` output gets baked into the binary for `moonfire-nvr --version`.
          # Fetch all revs so it can see tag history.
          fetch-depth: 0
          filter: "tree:0"
      - name: Cache
        uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            server/target
          key: cargo-${{ matrix.rust }}-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            cargo-${{ matrix.rust }}-
            cargo-
      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          override: true
          components: ${{ matrix.extra_components }}
          rustflags: "" # don't override .cargo/config.toml flags.
      - name: Test
        run: |
          cd server
          cargo test --features=rusqlite/bundled ${{ matrix.extra_args }} --all
        continue-on-error: ${{ matrix.rust == 'nightly' }}
      - name: Check formatting
        if: matrix.rust == 'stable'
        run: cd server && cargo fmt --all -- --check
  js:
    name: Node ${{ matrix.node }}
    strategy:
      matrix:
        node: ["20", "22", "24", "25"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
      # Install pnpm then use pnpm instead npm
      - run: npm i -g pnpm
      - run: cd ui && pnpm i --frozen-lockfile
      - run: cd ui && pnpm run build
      - run: cd ui && pnpm run test
      - run: cd ui && pnpm run lint
      - run: cd ui && pnpm run check-format
  license:
    name: Check copyright/license headers
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - run: find . -type f -print0 | xargs -0 .github/workflows/check-license.py
